In [3]:
# 1. Write a code to create a string with your name and print it.
name = "Rahul"
print(name)

Rahul

In [4]:
# 2. Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [5]:
# 3. Write a code to slice the first 8 characters from the string "Python Programming".
text = "Python Programming"
print(text[:8])   # Output: Python P

Python P

In [6]:
# 4. Write a code to convert the string "hello" to uppercase.
text = "hello"
print(text.upper())

HELLO

In [7]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [8]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [9]:
# 7. Write a code to append the number 6 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(6)
print(numbers)

[1, 2, 3, 4, 6]

In [10]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [11]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])   # Indexing starts at 0

b

In [12]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [13]:
# 11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [14]:
# 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
print(my_tuple[-2])

blue

In [15]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
print(min(my_tuple))

5

In [16]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [17]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'cherry')
print('kiwi' in fruits)

False

In [18]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [19]:
# 17.  Write a code to create a set with the elements 7, 5, 3 and print it.
my_set = {7, 5, 3}
print(my_set)

{3, 5, 7}

In [20]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [21]:
# 19. Write a code to find the union of two sets, {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [22]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [23]:
 # 21. Write a code to create a dictionary with the keys "name", "age" and "city" and print it.
my_dict = {"name": "John", "age": 25, "city": "New York"}
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [24]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary.
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [25]:
# 23. Write a code to access the value associated with the key "name" in the dictionary.
print(my_dict["name"])

John

In [26]:
# 24.  Write a code to remove the key "age" from the dictionary.
del my_dict["age"]
print(my_dict)

{'name': 'John', 'city': 'New York', 'country': 'USA'}

In [27]:
# 25. Write a code to check if the key "city" exists in the dictionary.
print("city" in my_dict)

True

In [28]:
# 26.  Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"key1": "value1", "key2": "value2"}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'key1': 'value1', 'key2': 'value2'}

In [29]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print(random_numbers)

[2, 9, 23, 31, 98]

In [30]:
# 28.  Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date"]
print(my_list[3])

date

In [31]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "Alice", "age": 30}
dict2 = {"city": "Paris", "job": "Engineer"}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Alice', 'age': 30, 'city': 'Paris', 'job': 'Engineer'}

In [32]:
# 30. Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "apple", "cherry"]
my_set = set(my_list)
print(my_set)

{'apple', 'banana', 'cherry'}